<%= simple_form_for @table do |f| %>
  <div class="box-body">
    <div class="row">
      <div class="col-xs-3">
        <%= f.input :name, class: 'form-control' %>    
      </div>
      <div class="col-xs-3">
        <%= f.input :seat_number, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <%= f.input :active, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>