<%= form_with url: tables_path, local: true, method: :get do %>
  <table class="table table-hover">
    <tr>
      <th>
        <%= render partial: "components/check_box/check_all_checkbox.component",
                   locals: {
                     check_box_name: '',
                     target_check_box: 'data-select-table'
                   } %>
      </th>
      <th>ID</th>
      <th>Table Name</th>
      <th>Number of Seats</th>
      <th>Is active ?</th>
    </tr>

    <%= render 'search_form' %>

    <% @tables.each do |table| %>
      <tr>
        <td>
          <input type="checkbox" class="i-check" value="<%= table.id %>" data-select-table>
        </td>
        <td><%= table.id %></td>
        <td><%= table.name %></td>
        <td><%= table.seat_number %></td>
        <td><span class="label label-<%= table.active ? 'success' : 'danger' %>"><%= table.active %></span></td>
        <td>
          <%= link_to edit_table_path(table), class: 'btn btn-primary' do %>
            <i class="fa fa-edit"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<div class="row text-center">
  <div class="col-xs-2">
    <div>  Số mục hiển thị trên trang
    <%= select_tag('',
                    options_for_select([30, 50, 100], params[:per_page]),
                    { class: 'form-control will_paginate_per_page' }) %>
    </div>
  </div>
  <div class="col-xs-6">
    <%= will_paginate @tables, { link_options: { 'data-remote': true }, renderer: BootstrapPagination::Rails } %>
  </div>
</div>

<%= render 'script' %>
